RewriteEngine on

RewriteRule ^posts/fosdem_2012(.*)$ /blog/html/2012/02/13/fosdem_2012.html [R=301,L]
RewriteRule ^posts/string_switch(.*)$ /blog/html/2012/08/09/string_switch_in_c.html [R=301,L]
RewriteRule ^posts/hash_trie(.*)$ /blog/html/2012/08/10/hash_trie.html [R=301,L]
RewriteRule ^posts/deferred_statements_in_c(.*)$ /blog/html/2012/08/11/deferred_statements_in_c.html [R=301,L]
RewriteRule ^posts/file_serving_with_few_syscalls(.*)$ /blog/html/2012/08/12/file_serving_with_few_system_calls.html [R=301,L]
RewriteRule ^posts/presenting_easyui(.*)$ /blog/html/2012/09/21/presenting_easyui.html [R=301,L]
RewriteRule ^posts/async_io_with_coroutines(.*)$ /blog/html/2012/09/29/asynchronous_i_o_in_c_with_coroutines.html [R=301,L]
RewriteRule ^posts/vectored_io_with_mmap(.*)$ /blog/html/2012/10/14/vectored_i_o_with_mmap___to_serve_files.html [R=301,L]
RewriteRule ^posts/arduino_without_a_pc(.*)$ /blog/html/2012/10/27/programming_on_an_arduino_without_a_pc.html [R=301,L]
RewriteRule ^posts/mustache_templates_in_c(.*)$ /blog/html/2012/11/11/mustache_templates_in_c.html [R=301,L]

RewriteRule ^tags/(.*)/?$ /blog/html/tags/$1.html [R=301,L]

RewriteRule ^about/?$ /blog/html/pages/about.html [R=301,L]

RewriteRule ^feed/?$ /blog/html/rss.html [R=301,L]
