#header-wrapper {
    position: fixed;
    width: 100%;
    /* Background by https://www.heropatterns.com/ */
    background-color: #360369;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23663399' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-bottom: 4px solid #663399;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 848px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}
.document {
    padding: 48px;
    padding-top: 72px;
    width: calc(100% - 96px);
    margin:0;
    color:#999;
    min-height:100%;
    height: 100%;
    max-width: 800px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
}
#copyright {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 80%;
    color: #666;
    position: relative;
}
#copyright:before {
    content: "▣";
    color: #628d4d;
    text-align: center;
    display: block;
    padding-bottom: 8px;
}
.document .title {
    font-size: 24px;
    margin-bottom: 8px;
    color: #628d4d;
    display: block;
    padding-top: 32px;
    font-family: monospace;
    text-shadow: 0px 0px 16px #000;
}
.document h1 { font-size: 20px; font-weight: normal; font-family: monospace; }
.document h2 { font-size: 18px }
.document h3 { font-size: 16px }
.document h1, .document h2, .document h3 {
    color: #628d4d;
    margin-bottom: -8px;
    font-weight: normal;
    font-family: monospace;
    text-shadow: 0px 0px 16px #000;
}
.document h1 { margin-top: 48px }
.document h2 { margin-top: 32px }
.document h3 { margin-top: 16px }
.document h1::before, .document h2::before, .document h3::before {
    content: "⬡";
    color: #628d4d;
    position: relative;
    left: -24px;
    margin-right: -16px;
    z-index: -1;
    text-shadow: 0px 0px 16px #fff;
}
.document p > a, .document li > a, .document dt > a {
    color: #628d4d;
    border-bottom: 1px dotted #628d4d;
    text-decoration: none;
}
.document p > a:hover, .document li > a:hover, .document dt > a:hover {
    border-bottom: 2px solid #628d4d;
}
.document p:first-of-type {
    margin-top: 32px;
}
.document .time {
    color: #666;
    border-right: 1px dotted #444;
    margin-right: 16px;
    padding-right: 16px;
    font-family: monospace;
    font-size: 90%;
}
.document ul.tags {
    list-style-type: none;
    display: inline;
    padding-left: 0;
}
.document ul.tags > li > a {
    color: #666;
    font-family: monospace;
    font-size: 90%;
    border-bottom: 1px solid #333;
}
.document ul.tags > li > a::before {
    color: #666;
    content: "♯";
}
.document ul.tags > li {
    display: inline-block;
}
.document ul.tags > li::after {
    display: inline-block;
    content: ", ";
}
.document ul.tags > li:last-child::after {
    content: "";
}
html {
    scrollbar-color: rebeccapurple #101010;
    scrollbar-width: thin;
}
body {
    font-family: sans-serif;
    font-size:15px;
    background: #222;
    border: 0;
    padding: 0;
    margin: 0;
    flex: 1;
}
#menu {
    font-size: 16px;
    list-style-type: none;
    line-height: 16px;
    margin-right: 48px;
}
#menu > li {
    display: inline-block;
    border-right: 1px dotted #b2b2b2;
    margin-right: 16px;
    padding-right: 16px;
}
#menu > li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}
#menu > li > a {
    text-decoration: none;
    color: #ddd;
    text-shadow: 0px 0px 16px #fff;
}
#menu > li > a:hover {
    color: #e2e2ed;
    border-bottom: 3px solid #829d6d;
    text-shadow: 0px 0px 4px gray;
}
#name {
    color: #ddd;
    font-size: 22px;
    letter-spacing: -0.05em;
    animation: typer 0.8s;
    white-space: nowrap;
    font-family: monospace;
    text-shadow: 0px 0px 12px white;
    overflow: hidden;
    padding: 12px;
    margin-left: 12px;
}
#name a {
    color: #ddd;
    text-decoration: none;
}
#name::after {
    content: "▂";
    color: #ccc;
    text-shadow: none;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: 8;
    -webkit-animation-timing-function:ease-out-in;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes blinker { from {opacity: 1.0} to {opacity: 0.0} }
@-webkit-keyframes typer { from {width: 0} to {width: 12em;} }
#header-shadow {
    width: 100%;
    position: fixed;
    top: 42px;
    left: 0;
    height: 64px;
    background: linear-gradient(rgba(0,0,0,255), rgba(0,0,0,0));
    z-order: -1;
}
@media all and (max-width:600px) {
    .document {
        padding: 16px;
        padding-top: 124px;
        width: calc(100% - 48px);
    }
    #header {
        display: block;
        height: 80px;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        justify-content: none;
        align-items: none;
        max-width: 100%;
    }
    #header-wrapper {
        padding: 0;
        margin: 0;
        padding-top: 16px;
        width: 100%;
    }
    #name {
        margin: 0;
    }
    #header-shadow {
        top: 100px;
    }
    .document h1, .document h2, .document h3 {
        margin-left: 0.5px;
    }
    .document h1::before, .document h2::before, .document h3::before {
        display: none;
    }
}
.document tt {
    background: #333;
    color: #999;
    padding: 2px;
    border-top: 1px solid #181818;
    border-left: 1px solid #181818;
    border-bottom: 1px solid #282828;
    border-right: 1px solid #282828;
    text-shadow: 0px 0px 2px #202020;
    border-radius: 2px;
}
.document .align-right { float: right; margin-left: 32px; margin-bottom: 32px; }
.document .align-center { text-align: center; margin-left: auto; margin-right: auto; display: block; }
.document .caption { min-width: 300px; max-width: 50%; margin: 0 auto; font-style: oblique; padding-bottom: 8px; }
.document img { max-width: calc(90% - 64px); box-shadow: 0px 0px 16px #000; background-color: #eee; padding: 16px; }
.document pre { margin: 0 }
.document .highlight, .document .literal-block {
    background: #002b36; color: #839496;
    box-shadow: 0px 0px 32px #111;
    padding: 32px;
    margin: 16px;
    overflow-x: auto;
}
.document table {
    border: 2px solid #001b26;
    border-collapse: collapse;
    background: #002b36;
    color: #839496;
    box-shadow: 0px 0px 32px #111;
    margin-left: auto;
    margin-right: auto;
}
.document td, .document th {
    padding: 8px;
    border: 1px dotted #001b26;
}
.document th {
    background-color: #103b46;
}
.document tr:hover {
    background-color: #204b56;
}
.highlight .hll { background-color: #073642 }
.highlight .c { color: #586e75; font-style: italic }
.highlight .err { color: #839496; background-color: #dc322f }
.highlight .esc { color: #839496 }
.highlight .g { color: #839496 }
.highlight .k { color: #859900 }
.highlight .l { color: #839496 }
.highlight .n { color: #839496 }
.highlight .o { color: #586e75 }
.highlight .x { color: #839496 }
.highlight .p { color: #839496 }
.highlight .ch { color: #586e75; font-style: italic }
.highlight .cm { color: #586e75; font-style: italic }
.highlight .cp { color: #d33682 }
.highlight .cpf { color: #586e75 }
.highlight .c1 { color: #586e75; font-style: italic }
.highlight .cs { color: #586e75; font-style: italic }
.highlight .gd { color: #dc322f }
.highlight .ge { color: #839496; font-style: italic }
.highlight .gr { color: #dc322f }
.highlight .gh { color: #839496; font-weight: bold }
.highlight .gi { color: #859900 }
.highlight .go { color: #839496 }
.highlight .gp { color: #839496 }
.highlight .gs { color: #839496; font-weight: bold }
.highlight .gu { color: #839496; text-decoration: underline }
.highlight .gt { color: #268bd2 }
.highlight .kc { color: #2aa198 }
.highlight .kd { color: #2aa198 }
.highlight .kn { color: #cb4b16 }
.highlight .kp { color: #859900 }
.highlight .kr { color: #859900 }
.highlight .kt { color: #b58900 }
.highlight .ld { color: #839496 }
.highlight .m { color: #2aa198 }
.highlight .s { color: #2aa198 }
.highlight .na { color: #839496 }
.highlight .nb { color: #268bd2 }
.highlight .nc { color: #268bd2 }
.highlight .no { color: #268bd2 }
.highlight .nd { color: #268bd2 }
.highlight .ni { color: #268bd2 }
.highlight .ne { color: #268bd2 }
.highlight .nf { color: #268bd2 }
.highlight .nl { color: #268bd2 }
.highlight .nn { color: #268bd2 }
.highlight .nx { color: #839496 }
.highlight .py { color: #839496 }
.highlight .nt { color: #268bd2 }
.highlight .nv { color: #268bd2 }
.highlight .ow { color: #859900 }
.highlight .w { color: #839496 }
.highlight .mb { color: #2aa198 }
.highlight .mf { color: #2aa198 }
.highlight .mh { color: #2aa198 }
.highlight .mi { color: #2aa198 }
.highlight .mo { color: #2aa198 }
.highlight .sa { color: #2aa198 }
.highlight .sb { color: #2aa198 }
.highlight .sc { color: #2aa198 }
.highlight .dl { color: #2aa198 }
.highlight .sd { color: #586e75 }
.highlight .s2 { color: #2aa198 }
.highlight .se { color: #2aa198 }
.highlight .sh { color: #2aa198 }
.highlight .si { color: #2aa198 }
.highlight .sx { color: #2aa198 }
.highlight .sr { color: #cb4b16 }
.highlight .s1 { color: #2aa198 }
.highlight .ss { color: #2aa198 }
.highlight .bp { color: #268bd2 }
.highlight .fm { color: #268bd2 }
.highlight .vc { color: #268bd2 }
.highlight .vg { color: #268bd2 }
.highlight .vi { color: #268bd2 }
.highlight .vm { color: #268bd2 }
.highlight .il { color: #2aa198 }
